
<div class="card">
   <div class="cardHeader"><h2>How does I use it?</h2></div>
   <div class="cardBody">
<p>You first need to create your crush list with up to 6 people. You can change this list as much as you like, whenever you like; but, at flock o’clock (Thursday at 12:00pm) the current crush lists for each user are processed for any possible matches and you are informed if anyone is crushing on you.</p>
   </div>
</div>
<div class="card">
   <div class="cardHeader"><h2>FAQ</h2></div>
<div class="cardBody">
   <h3>What is flock o’clock?</h3>
   <p>It is the time that crush lists are checked for matches on Thursday at noon.</p>

   <h3>Is my crush list public?</h3>
   <p>Absolutely not. Your crush list is for you only. The only time someone is informed that you are crushing on them is when they are mutually crushing on you that weekend.</p>

   <h3>What if I received an email about a crush but don’t see a match?</h3>
   <p>If you get an email that someone is crushing on you on flock it means you are on someone’s crush list but he/she is not necessarily on yours. Be flattered!</p>

   <h3>What should I do if I have a match?</h3>
   <p>Plan a date with them! Flock will soon suggest events that you and your match are both interested in so that you can go to the event together.</p>
   </div>
</div>