<div ng-controller="registerCtrl as vm">
    <div class="jumbotron col-lg-8 col-md-8 col-sm-12">
        <h1>Proctor crushes aren't just for seniors...</h1>
        <p>Type in your email and password then click register to build your crush list and see who is crushing on you
            each
            weekend.</p>
        <form ng-submit="vm.register()" id="registerForm" name="registerForm">
            <div class="input-group" id="register">
                <input ng-model="vm.user.email" type="text" name="email" id="studentSearch" class="form-control"
                       placeholder="Middlebury email" required/>
                <input ng-model="vm.user.pw1" type="password" min="6" name="password" class="form-control"
                       placeholder="new password" id="password" required/>
                <input ng-model="vm.user.pw2" type="password" min="6" name="confirm-password" class="form-control"
                       placeholder="confirm password" id="confirm-password" required/>
                <input type="submit" value="Register" class="btn btn-lg btn-default"/> <span> <a ng-click="openLogin()">Login
                as existing user.</a></span>
            </div>
        </form>
        <countdown-box></countdown-box>
    </div>
</div>